@page "/"

<PageTitle>Inicio - Sistema de Monitoreo</PageTitle>

<div style="text-align: center; margin-top: 50px;">

    <h1 style="color: #0056b3;">
        SISTEMA DE MONITOREO MULTIFUENTE EN TIEMPO REAL DE CALIDAD DE AGUA CON SENSORES
    </h1>

    <p style="font-size: 1.2em; margin-top: 20px;">
        Bienvenido al sistema. Utiliza el menú de navegación para acceder a las diferentes funciones.
    </p>

</div>